<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {{!-- Poner el logo de la imagen o del consultorio o de las citas --}}
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#http://localhost:4200/administrador/usuarios"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Usuarios</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Citas</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Calendario</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        </ul>
      </div>
    </div>
  </header>